@mixin clearSides{
  content:'';
  clear:both;
  display:block;
}

main {
  background:#5BA3D6;
  height:50vw;
  width:100%
}

fieldset{
  float:left;
  display:inline-block;
  width: 32%;
  margin:0
}
form label{
  @include clearSides;
}


label.required::after{
  content: "*";
  color: red;
}
